@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1 {
  font: normal 600 40px/50px "Lexend", sans-serif;
  color: #1b1c57;
  text-transform: capitalize;
}

h2 {
  color: #1b1c57;
  font: normal 600 32px/40px "Lexend", sans-serif;
}

h3 {
  font: normal 400 16px/28px "Lexend", sans-serif;
  color: #626687;
}

h4 {
  color: #888b97;
  font: normal 400 16px/32px "Lexend", sans-serif;
}

h5 {
  color: #1b1c57;
  font: normal 600 16px/24px "Lexend", sans-serif;
}

h6 {
  color: #68799f;
  font: normal 400 12px/20px "Lexend", sans-serif;
}

body {
  background-color: white;
}

body a {
  cursor: pointer;
}

.slider-right-content {
  position: absolute;
  right: 0;
  left: 0;
}

.slider-right-content .text-center.my-3 {
  position: absolute;
  right: 0;
  top: 470px;
  width: 47.3%;
}

.slider-right-content .text-center.my-3 .carousel.slide.pointer-event {
  padding-right: 0;
}

.slider-right-content .text-center.my-3 .carousel-item {
  width: 100%;
}

.slider-right-content .text-center.my-3 .carousel-item .col-md-3 .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 24px;
  border-radius: 32px;
}

.slider-right-content .text-center.my-3 .carousel-item .col-md-3 .card .card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 0 0 0 16px;
}

.slider-right-content .text-center.my-3 .carousel-item .col-md-3 .card .card-img h5 {
  margin-bottom: 2px;
}

.slider-right-content .text-center.my-3 .carousel-item .col-md-3 .card .card-img h6 {
  margin-bottom: 0;
}

.slider-right-content .text-center.my-3 .carousel-item .col-md-3 .card .card-img {
  width: auto;
}

.carousel-1.slide.pointer-event {
  padding-right: 0;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .col-md-3 {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 16px;
  }
  .col-md-4 {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/
.recommendation .text-center.my-4 .carousel-item {
  width: 100%;
  gap: 40px;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  border-radius: 24px;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .body-img {
  position: relative;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .body-img .img {
  position: relative;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .body-img .text_absolute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 16px;
  left: 16px;
  background: #fee2e2;
  padding: 8px 16px;
  border-radius: 32px;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .body-img .text_absolute .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .body-img .text_absolute .text_houses {
  padding-left: 12px;
  color: #ef4444;
  font: normal 500 14px/18px "Lexend", sans-serif;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .body-img .text_absolute .text_cosmos {
  padding-left: 12px;
  color: #ef4444;
  font: normal 500 14px/18px "Lexend", sans-serif;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .body-img .text_absolute .text_light {
  padding-left: 12px;
  color: #047857;
  font: normal 500 14px/18px "Lexend", sans-serif;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .body-img .text_absolute .text_wood {
  padding-left: 12px;
  color: #1D4ED8;
  font: normal 500 14px/18px "Lexend", sans-serif;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .card-img {
  width: 100%;
  text-align: left;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .card-img .title_price {
  padding: 24px 0;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .card-img .title_price p {
  margin-bottom: 8px;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .card-img .title_price .title {
  font: normal 500 24px/32px "Lexend", sans-serif;
  color: #0E1735;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .card-img .title_price .price {
  font: normal 500 20px/32px "Lexend", sans-serif;
  color: #3C4563;
  margin-bottom: 0;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .card-img .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .card-img .person .name_city {
  padding-left: 16px;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .card-img .person .name_city .name {
  color: #0E1735;
  font: normal 500 18px/24px "Lexend", sans-serif;
}

.recommendation .text-center.my-4 .carousel-item .col-md-4 .body .card-img .person .name_city .city {
  color: #888B97;
  font: normal 500 14px/22px "Lexend", sans-serif;
}

.recommendation button.carousel-control-prev.active {
  background: #10b981;
}

.recommendation button.carousel-control-prev.active .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.recommendation button.carousel-control-next.active {
  background: #10b981;
}

.recommendation button.carousel-control-next.active .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.recommendation .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233C4563'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.recommendation .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233C4563'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.recommendation .carousel-control-next,
.recommendation .carousel-control-prev {
  border-radius: 32px;
  background: #e0e3eb;
  opacity: 1;
  width: auto;
  padding: 17.83px 25.33px 17.83px 26.5px;
}

.recommendation .carousel-control-next-icon,
.recommendation .carousel-control-prev-icon {
  width: 1rem;
}

.recommendation div#carouselExampleControls {
  padding: 0;
}
/*# sourceMappingURL=carousel.css.map */