@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1 {
  font: normal 600 40px/50px "Lexend", sans-serif;
  color: #1b1c57;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

h2 {
  color: #1b1c57;
  font: normal 600 32px/40px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h3 {
  font: normal 200 16px/28px "Lexend", sans-serif;
  color: #626687;
  padding: 0;
  margin: 0;
}

h4 {
  color: #888b97;
  font: normal 200 16px/32px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h5 {
  color: #1b1c57;
  font: normal 500 16px/24px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h6 {
  color: #68799f;
  font: normal 200 12px/20px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  height: 100%;
}

body a {
  cursor: pointer;
}

.recommendation .small_title,
.ready .small_title {
  font: normal 300 14px/18px "Lexend", sans-serif;
  color: #f59e0b;
}

.recommendation .small_title p,
.ready .small_title p {
  position: relative;
  margin-bottom: 12px;
}

.recommendation .small_title p::after,
.ready .small_title p::after {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  border-bottom: 1px solid;
  top: 8px;
  position: absolute;
  margin-left: -40px;
}

.see_review .small_title,
.buying_home .small_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font: normal 300 14px/18px "Lexend", sans-serif;
  color: #f59e0b;
}

.see_review .small_title .line,
.buying_home .small_title .line {
  width: 32px;
  border-top: 1px solid;
  padding-bottom: 8px;
}

.see_review .small_title p,
.buying_home .small_title p {
  margin-bottom: 12px;
}

@media (max-width: 500px) {
  .see_review .small_title {
    padding: 0 20px;
  }
}

footer {
  position: absolute;
  width: 100%;
}

footer .site-info {
  margin: 120px;
}

@media (max-width: 850px) {
  footer .site-info {
    margin: 120px 50px;
  }
}

@media (max-width: 604px) {
  footer .site-info {
    margin: 100px 50px;
  }
}

@media (max-width: 372px) {
  footer .site-info {
    margin: 100px 20px;
  }
}

footer .site-info .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.7fr 0.7fr 1fr;
      grid-template-columns: 2fr 0.7fr 0.7fr 1fr;
  gap: 50px;
  position: relative;
}

footer .site-info .footer .site-branding .logo_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .site-info .footer .site-branding .logo_title p {
  font: normal 700 16px/20px "Lexend", sans-serif;
  padding: 0 0 0 12px;
  margin: 0;
  text-transform: capitalize;
  color: #1b1c57;
}

footer .site-info .footer .site-branding .description {
  width: 65%;
}

@media (max-width: 1000px) {
  footer .site-info .footer .site-branding .description {
    width: 100%;
  }
}

footer .site-info .footer .site-branding .description p {
  font: normal 200 14px/24px "Lexend", sans-serif;
  color: #626687;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 16px;
}

footer .site-info .footer .site-branding .description .social-icons a:nth-child(2n) {
  padding: 14px;
}

footer .site-info .footer .property,
footer .site-info .footer .article,
footer .site-info .footer .contact {
  position: relative;
}

footer .site-info .footer .property h6,
footer .site-info .footer .article h6,
footer .site-info .footer .contact h6 {
  font: normal 600 18px/22.5px "Lexend", sans-serif;
  padding-bottom: 28px;
  color: #1b1c57;
}

footer .site-info .footer .property ul,
footer .site-info .footer .article ul,
footer .site-info .footer .contact ul {
  margin: 0;
  padding: 0;
}

footer .site-info .footer .property ul li,
footer .site-info .footer .article ul li,
footer .site-info .footer .contact ul li {
  list-style-type: none;
  padding-bottom: 18px;
}

footer .site-info .footer .property ul li a,
footer .site-info .footer .article ul li a,
footer .site-info .footer .contact ul li a {
  font: normal 200 14px/17.5px "Lexend", sans-serif;
  color: #888b97;
  text-decoration: none;
}

@media (max-width: 1000px) {
  footer .site-info .footer {
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    gap: 80px;
  }
  footer .site-info .footer .contact {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

@media (max-width: 500px) {
  footer .site-info .footer {
    gap: 50px;
  }
  footer .site-info .footer .site-branding {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  footer .site-info .footer .contact {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

@media (max-width: 386px) {
  footer .site-info .footer {
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
  }
}
/*# sourceMappingURL=footer.css.map */