@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1 {
  font: normal 600 40px/50px "Lexend", sans-serif;
  color: #1b1c57;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

h2 {
  color: #1b1c57;
  font: normal 600 32px/40px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h3 {
  font: normal 200 16px/28px "Lexend", sans-serif;
  color: #626687;
  padding: 0;
  margin: 0;
}

h4 {
  color: #888b97;
  font: normal 200 16px/32px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h5 {
  color: #1b1c57;
  font: normal 500 16px/24px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h6 {
  color: #68799f;
  font: normal 200 12px/20px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  height: 100%;
}

body a {
  cursor: pointer;
}

.recommendation .small_title,
.ready .small_title {
  font: normal 300 14px/18px "Lexend", sans-serif;
  color: #f59e0b;
}

.recommendation .small_title p,
.ready .small_title p {
  position: relative;
  margin-bottom: 12px;
}

.recommendation .small_title p::after,
.ready .small_title p::after {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  border-bottom: 1px solid;
  top: 8px;
  position: absolute;
  margin-left: -40px;
}

.see_review .small_title,
.buying_home .small_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font: normal 300 14px/18px "Lexend", sans-serif;
  color: #f59e0b;
}

.see_review .small_title .line,
.buying_home .small_title .line {
  width: 32px;
  border-top: 1px solid;
  padding-bottom: 8px;
}

.see_review .small_title p,
.buying_home .small_title p {
  margin-bottom: 12px;
}

@media (max-width: 500px) {
  .see_review .small_title {
    padding: 0 20px;
  }
}

header {
  margin: 40px 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 604px) {
  header {
    margin: 40px 100px 0;
  }
}

@media (max-width: 500px) {
  header {
    margin: 40px 50px 0;
  }
}

header #site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #site-branding p {
  font: normal 700 16px/20px "Lexend", sans-serif;
  padding: 0 0 0 12px;
  margin: 0;
  text-transform: capitalize;
  color: #1b1c57;
}

@media (min-width: 992px) {
  header .navbar-nav {
    margin-left: auto;
    gap: 24px;
  }
  header .navbar-nav li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .navbar-nav li a {
    font: normal 400 14px/18px "Lexend", sans-serif;
    color: #f0f3fd;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
  }
  header .navbar-nav .menu_button {
    border-radius: 32px;
    margin-left: 56px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  header .navbar-nav .menu_button {
    margin-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 604px) {
  header .navbar-nav .menu_button {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  header .navbar-nav .menu_button a {
    font: normal 400 14px/18px "Lexend", sans-serif;
    color: #047857;
    padding: 12px 24px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #d1fae5;
  }
  header .navbar-nav .menu_button a:hover {
    background-color: #047857;
    color: #f0f3fd;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .navbar-nav :hover .sub-menu {
    background-color: #d1fae5;
    color: #047857;
    border-radius: 0 5px 5px 5px;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
  }
  header .navbar-nav .menu-item-10:hover > a {
    background-color: #d1fae5;
    border-radius: 5px 5px 0 0;
    color: #047857;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .navbar-nav .menu-item-10:hover > a:after {
    -webkit-filter: invert(80%) sepia(58%) saturate(5727%) hue-rotate(161deg) brightness(89%) contrast(97%);
            filter: invert(80%) sepia(58%) saturate(5727%) hue-rotate(161deg) brightness(89%) contrast(97%);
  }
  header .navbar-nav .sub-menu a:hover {
    padding-left: 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #1b1c57;
  }
  header .navbar-nav .menu-item-10 a {
    position: relative;
    padding-right: 44px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .navbar-nav .menu-item-10 a:after {
    content: url("../svg/vector.svg");
    display: inline-block;
    position: absolute;
    right: 14.37px;
    top: 20%;
  }
  header .navbar-nav .menu-item-10 .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #d1fae5;
    border-radius: 0 0 5px 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .navbar-nav .menu-item-10 .sub-menu li {
    margin: 0;
    border: none;
    border-radius: none;
  }
  header .navbar-nav .menu-item-10 .sub-menu li:hover {
    -webkit-transform: none;
            transform: none;
  }
  header .navbar-nav .menu-item-10 .sub-menu li a {
    padding: 12px 24px;
    display: block;
    color: #047857;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
  }
  header .navbar-nav .menu-item-10 .sub-menu li a:hover {
    color: #1b1c57;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-left: 30px;
  }
  header .navbar-nav .menu-item-10 .sub-menu li a:after {
    display: none;
  }
  header .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .navbar-nav li:hover .sub-menu {
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .navbar-toggler {
    display: none;
  }
  header .navbar-close-icon {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-collapse li:hover .sub-menu {
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar-light .navbar-toggler {
    border: none;
    color: transparent;
  }
  .navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: none;
    width: auto;
    height: auto;
  }
  .navbar-light .navbar-toggler .navbar-toggler-icon .fa-bars {
    color: #1b1c57;
    font-size: 24px;
  }
  .navbar-light .navbar-toggler .navbar-close-icon .fa-times {
    color: #fff;
    font-size: 24px;
  }
  .navbar .navbar-collapse {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul {
    gap: 30px;
    margin: 0;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul li {
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #047857;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul li:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul li a {
    font: normal 400 14px/18px "Lexend", sans-serif;
    color: #1b1c57;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul li a:hover {
    padding-left: 10px;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu_button {
    border-radius: 0;
    border-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) and (max-width: 1100px) {
  .navbar .navbar-collapse .menu-menu-main-container ul .menu_button {
    margin-left: 0;
  }
}

@media (max-width: 991px) and (max-width: 604px) {
  .navbar .navbar-collapse .menu-menu-main-container ul .menu_button {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-collapse .menu-menu-main-container ul .menu_button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu_button a {
    font: normal 400 14px/18px "Lexend", sans-serif;
    color: #047857;
    padding: 12px 24px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #d1fae5;
    border-radius: 32px;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu_button a:hover {
    background-color: #047857;
    color: #f0f3fd;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 12px 24px;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul :hover .sub-menu {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10:hover > a {
    -webkit-transform: none;
            transform: none;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .sub-menu a:hover {
    padding-left: 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #1b1c57;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10 a {
    position: relative;
    padding-right: 44px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10 a:after {
    content: url("../svg/vector.svg");
    -webkit-filter: invert(80%) sepia(58%) saturate(5727%) hue-rotate(161deg) brightness(89%) contrast(97%);
            filter: invert(80%) sepia(58%) saturate(5727%) hue-rotate(161deg) brightness(89%) contrast(97%);
    display: inline-block;
    position: absolute;
    right: 14.37px;
    top: 0;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10 a:hover {
    padding-left: 0;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10 .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-transition: 1s;
    transition: 1s;
    padding-left: 20;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10 .sub-menu li {
    margin: 0;
    border: none;
    border-radius: none;
    border-bottom: 1px solid #047857;
    padding: 16px 24px 10px 10px;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10 .sub-menu li a {
    display: block;
    color: #1b1c57;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
    padding-right: 0;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10 .sub-menu li a:hover {
    color: #1b1c57;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-left: 5px;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10 .sub-menu li a:after {
    display: none;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10:hover .sub-menu {
    -webkit-transition: 1s;
    transition: 1s;
    display: block;
    position: relative;
  }
  .navbar .navbar-collapse .menu-menu-main-container ul .menu-item-10:hover {
    border-bottom: none;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    display: none;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-close-icon {
    display: inline-block;
  }
  .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
    display: inline-block;
  }
  .navbar-toggler[aria-expanded="false"] .navbar-close-icon {
    display: none;
  }
}

@media (max-width: 991px) and (min-width: 320px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 10px;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 991px) and (min-width: 320px) and (max-width: 773px) {
  .navbar .navbar-collapse {
    background-color: #fff;
  }
}
/*# sourceMappingURL=header.css.map */