@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1 {
  font: normal 600 40px/50px "Lexend", sans-serif;
  color: #1b1c57;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

h2 {
  color: #1b1c57;
  font: normal 600 32px/40px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h3 {
  font: normal 200 16px/28px "Lexend", sans-serif;
  color: #626687;
  padding: 0;
  margin: 0;
}

h4 {
  color: #888b97;
  font: normal 200 16px/32px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h5 {
  color: #1b1c57;
  font: normal 500 16px/24px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h6 {
  color: #68799f;
  font: normal 200 12px/20px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  height: 100%;
}

body a {
  cursor: pointer;
}

.recommendation .small_title,
.ready .small_title {
  font: normal 300 14px/18px "Lexend", sans-serif;
  color: #f59e0b;
}

.recommendation .small_title p,
.ready .small_title p {
  position: relative;
  margin-bottom: 12px;
}

.recommendation .small_title p::after,
.ready .small_title p::after {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  border-bottom: 1px solid;
  top: 8px;
  position: absolute;
  margin-left: -40px;
}

.see_review .small_title {
  text-align: center;
  font: normal 300 14px/18px "Lexend", sans-serif;
  color: #f59e0b;
}

.see_review .small_title p {
  position: relative;
  margin-bottom: 12px;
}

.see_review .small_title p::before {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  border-top: 1px solid;
  left: 48.9%;
  top: -8px;
  position: absolute;
  margin: 0;
}

.buying_home .small_title {
  text-align: center;
  font: normal 300 14px/18px "Lexend", sans-serif;
  color: #f59e0b;
}

.buying_home .small_title p {
  position: relative;
  margin-bottom: 12px;
}

.buying_home .small_title p::before {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  border-top: 1px solid;
  left: 44%;
  top: -8px;
  position: absolute;
  margin: 0;
}

header {
  margin: 40px 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-navigation ul ul a {
  width: 170px;
}

header #site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #site-branding p {
  font: normal 700 16px/20px "Lexend", sans-serif;
  padding: 0 0 0 12px;
  margin: 0;
  text-transform: capitalize;
  color: #1b1c57;
}

header #site-navigation {
  width: auto;
}

header #site-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 24px;
}

header #site-navigation ul li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #site-navigation ul li a {
  font: normal 400 14px/18px "Lexend", sans-serif;
  color: #f0f3fd;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  padding: 8px 16px;
}

header #site-navigation ul li :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #site-navigation ul :hover .sub-menu {
  background-color: #d1fae5;
  color: #047857;
  border-radius: 0 5px 5px 5px;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #site-navigation ul :hover .sub-menu li {
  -webkit-transform: none;
          transform: none;
}

header #site-navigation ul :hover .sub-menu a {
  color: #047857;
  -webkit-transform: none;
          transform: none;
}

header #site-navigation ul #menu-item-10:hover > a {
  background-color: #d1fae5;
  border-radius: 5px 5px 0 0;
  color: #047857;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header #site-navigation ul .sub-menu a:hover {
  padding-left: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #1b1c57;
}

header #site-navigation ul #menu-item-10 a {
  position: relative;
  padding-right: 44px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header #site-navigation ul #menu-item-10 a:after {
  content: url("../svg/vector.svg");
  display: inline-block;
  position: absolute;
  right: 14.37px;
}

header #site-navigation ul #menu-item-10 .sub-menu {
  width: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 0;
}

header #site-navigation ul #menu-item-10 .sub-menu li {
  margin: 0;
  border: none;
  border-radius: none;
}

header #site-navigation ul #menu-item-10 .sub-menu li a {
  border: none;
  background-color: transparent;
}

header #site-navigation ul #menu-item-10 .sub-menu li a:after {
  display: none;
}

header #site-navigation ul .menu_button {
  background-color: #d1fae5;
  border-radius: 32px;
  margin-left: 56px;
}

header #site-navigation ul .menu_button a {
  font: normal 400 14px/18px "Lexend", sans-serif;
  color: #047857;
  padding: 12px 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header #site-navigation ul .menu_button a:hover {
  background-color: #047857;
  color: #f0f3fd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=header.css.map */