@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1 {
  font: normal 600 40px/50px "Lexend", sans-serif;
  color: #1b1c57;
  text-transform: capitalize;
}

h2 {
  color: #1b1c57;
  font: normal 600 32px/40px "Lexend", sans-serif;
}

h3 {
  font: normal 400 16px/28px "Lexend", sans-serif;
  color: #626687;
}

h4 {
  color: #888b97;
  font: normal 400 16px/32px "Lexend", sans-serif;
}

h5 {
  color: #1b1c57;
  font: normal 600 16px/24px "Lexend", sans-serif;
}

h6 {
  color: #68799f;
  font: normal 400 12px/20px "Lexend", sans-serif;
}

body {
  background-color: white;
}

body a {
  cursor: pointer;
}

.recommendation .small_title, .ready .small_title {
  font: normal 500 14px/18px "Lexend", sans-serif;
  color: #f59e0b;
}

.recommendation .small_title p, .ready .small_title p {
  position: relative;
  margin-bottom: 12px;
}

.recommendation .small_title p::after, .ready .small_title p::after {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  border-bottom: 1px solid;
  top: 8px;
  position: absolute;
  margin-left: -40px;
}

#page main .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 120px;
  height: 640px;
}

#page main .hero-section .left-content {
  width: 40%;
}

#page main .hero-section .left-content h1 {
  width: 75%;
  margin-bottom: 24px;
  margin-top: 101px;
}

#page main .hero-section .left-content h1 span {
  color: transparent;
  -webkit-text-stroke: 1px #1b1c57;
}

#page main .hero-section .left-content h3 {
  margin-bottom: 32px;
}

#page main .hero-section .left-content .search-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

#page main .hero-section .left-content .search-box .input-search {
  height: 57px;
  width: 430px;
  padding: 10px;
  outline: none;
  border-radius: 25px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #1b1c57;
  font: normal 400 14px/18px "Lexend", sans-serif;
  border: 1px solid #e0e3eb;
  border-radius: 32px;
  padding-left: 64px;
}

#page main .hero-section .left-content .search-box .input-search::-webkit-input-placeholder {
  font: normal 500 14px/22px "Lexend", sans-serif;
  color: #888b97;
}

#page main .hero-section .left-content .search-box .input-search:-ms-input-placeholder {
  font: normal 500 14px/22px "Lexend", sans-serif;
  color: #888b97;
}

#page main .hero-section .left-content .search-box .input-search::-ms-input-placeholder {
  font: normal 500 14px/22px "Lexend", sans-serif;
  color: #888b97;
}

#page main .hero-section .left-content .search-box .input-search::placeholder {
  font: normal 500 14px/22px "Lexend", sans-serif;
  color: #888b97;
}

#page main .hero-section .left-content .search-box .btn-location {
  position: absolute;
  background-color: transparent;
  border: none;
}

#page main .hero-section .left-content .search-box .btn-location:after {
  content: url("../svg/vector-map.svg");
  display: inline-block;
  position: absolute;
  left: 27px;
  top: 109%;
}

#page main .hero-section .left-content .search-box .btn-search {
  width: auto;
  cursor: pointer;
  border-radius: 32px;
  position: absolute;
  top: 6.4%;
  right: 0.8%;
  color: #fff;
  background-color: #10b981;
  pointer-events: painted;
  padding: 13px 44px 13px 16px;
  font: normal 600 14px/22px "Lexend", sans-serif;
}

#page main .hero-section .left-content .search-box .btn-search:after {
  content: url("../svg/vector1.svg");
  display: inline-block;
  position: absolute;
  right: 17px;
  top: 30%;
}

#page main .hero-section .left-content .search-box .btn-search:focus ~ .input-search {
  width: 520px;
  border: 1px solid #e0e3eb;
  border-radius: 32px;
  background-color: transparent;
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

#page main .hero-section .left-content .search-box .input-search:focus {
  width: 520px;
  border: 1px solid #e0e3eb;
  border-radius: 32px;
  background-color: transparent;
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

#page main .hero-section .left-content .partnership {
  margin-top: 32px;
  margin-bottom: 0;
}

#page main .hero-section .left-content .partnership figure {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page main .hero-section .left-content .partnership figure :nth-child(odd) {
  padding-right: 32px;
}

#page main .hero-section .right-content {
  width: 50%;
}

#page main .hero-section .right-content .img-right-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  margin: 0;
}

#page main .recommendation {
  margin: 120px 0 120px 160px;
}

#page main .recommendation .tabs_recommendation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 120px;
  margin-bottom: 40px;
}

#page main .recommendation .tabs_recommendation .tabs ul {
  margin: 0;
}

#page main .recommendation .tabs_recommendation .tabs .nav-tabs {
  border: none;
  gap: 32px;
}

#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-link {
  border-radius: 32px;
  border: 1px solid #e0e3eb;
}

#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-item button img {
  -webkit-filter: invert(58%) sepia(93%) saturate(45%) hue-rotate(191deg) brightness(80%) contrast(84%);
          filter: invert(58%) sepia(93%) saturate(45%) hue-rotate(191deg) brightness(80%) contrast(84%);
}

#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-item.show .nav-link,
#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-link.active {
  background: #d1fae5;
  border-radius: 32px;
  border-color: #d1fae5;
}

#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-item.show .nav-link img,
#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-link.active img {
  -webkit-filter: invert(48%) sepia(54%) saturate(1936%) hue-rotate(126deg) brightness(99%) contrast(87%);
          filter: invert(48%) sepia(54%) saturate(1936%) hue-rotate(126deg) brightness(99%) contrast(87%);
}

#page main .recommendation .tabs_recommendation .tabs button#house-tab,
#page main .recommendation .tabs_recommendation .tabs #villa-tab,
#page main .recommendation .tabs_recommendation .tabs #apartment-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px 12px 27px;
}

#page main .recommendation .tabs_recommendation .tabs button#house-tab p,
#page main .recommendation .tabs_recommendation .tabs #villa-tab p,
#page main .recommendation .tabs_recommendation .tabs #apartment-tab p {
  margin: 0;
  padding-left: 11px;
  font: normal 500 18px/28px "Lexend", sans-serif;
  color: #888b97;
}

#page main .recommendation .tabs_recommendation .tabs button#house-tab.active p,
#page main .recommendation .tabs_recommendation .tabs #villa-tab.active p,
#page main .recommendation .tabs_recommendation .tabs #apartment-tab.active p {
  color: #10b981;
}

#page main .recommendation .tabs_recommendation .navigation {
  position: relative;
  width: 13.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page main .ready {
  margin: 0 120px 120px 160px;
}

#page main .ready .body_ready_slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#page main .ready .body_ready_slider .right .text h2 {
  margin-bottom: 16px;
}

#page main .ready .body_ready_slider .right .text h3 {
  margin-bottom: 16px;
}

#page main .ready .body_ready_slider .right .text .detail p {
  color: #1b1c57;
  font: normal 600 18px/28px "Lexend", sans-serif;
}

#page main .ready .body_ready_slider .right .text .detail .house_detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-bottom: 38px;
  border-bottom: 1px solid #f0f3fd;
}

#page main .ready .body_ready_slider .right .text .detail .house_detail p {
  margin-bottom: 16px;
}

#page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

#page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text p {
  font: normal 500 16px/20px "Lexend", sans-serif;
  color: #3c4563;
  margin: 0;
  padding-left: 20px;
}

#page main .ready .body_ready_slider .right .text .detail .contact {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page main .ready .body_ready_slider .right .text .detail .contact .info_employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page main .ready .body_ready_slider .right .text .detail .contact .info_employee .name_position {
  padding-left: 24px;
}

#page main .ready .body_ready_slider .right .text .detail .contact .info_employee .name_position h6 {
  font: normal 500 18px/24px "Lexend", sans-serif;
  color: #0e1735;
  margin: 0;
  padding-bottom: 4px;
}

#page main .ready .body_ready_slider .right .text .detail .contact .info_employee .name_position p {
  font: normal 500 16px/24px "Lexend", sans-serif;
  color: #888b97;
  margin: 0;
}

#page main .ready .body_ready_slider .right .text .detail .contact button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #10b981;
  border-radius: 32px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
}

#page main .ready .body_ready_slider .right .text .detail .contact button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#page main .ready .body_ready_slider .right .text .detail .contact button img {
  padding-left: 16px;
}

#page main .ready .body_ready_slider .right .text .detail .contact button a {
  text-decoration: none;
  color: #ffffff;
  font: normal 600 14px/22px "Lexend", sans-serif;
  padding: 13px 16px;
}

#page main .ready .body_ready_slider .left {
  height: 440px;
}

#page main .ready .body_ready_slider .left .video {
  position: relative;
}

#page main .ready .body_ready_slider .left .video .gallery-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -60px;
  bottom: -38px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: visible;
}

#page main .ready .body_ready_slider .left .video .gallery-img-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -38px;
  right: 123px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: visible;
}

#page main .ready .body_ready_slider .left .video .gallery-img-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -38px;
  right: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: visible;
}
/*# sourceMappingURL=style.css.map */