@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1 {
  font: normal 600 40px/50px "Lexend", sans-serif;
  color: #1b1c57;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

h2 {
  color: #1b1c57;
  font: normal 600 32px/40px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h3 {
  font: normal 200 16px/28px "Lexend", sans-serif;
  color: #626687;
  padding: 0;
  margin: 0;
}

h4 {
  color: #888b97;
  font: normal 200 16px/32px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h5 {
  color: #1b1c57;
  font: normal 500 16px/24px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

h6 {
  color: #68799f;
  font: normal 200 12px/20px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  height: 100%;
}

body a {
  cursor: pointer;
}

.recommendation .small_title,
.ready .small_title {
  font: normal 300 14px/18px "Lexend", sans-serif;
  color: #f59e0b;
}

.recommendation .small_title p,
.ready .small_title p {
  position: relative;
  margin-bottom: 12px;
}

.recommendation .small_title p::after,
.ready .small_title p::after {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  border-bottom: 1px solid;
  top: 8px;
  position: absolute;
  margin-left: -40px;
}

.see_review .small_title,
.buying_home .small_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font: normal 300 14px/18px "Lexend", sans-serif;
  color: #f59e0b;
}

.see_review .small_title .line,
.buying_home .small_title .line {
  width: 32px;
  border-top: 1px solid;
  padding-bottom: 8px;
}

.see_review .small_title p,
.buying_home .small_title p {
  margin-bottom: 12px;
}

@media (max-width: 500px) {
  .see_review .small_title {
    padding: 0 20px;
  }
}

#page main {
  min-height: 100%;
  overflow: hidden;
}

#page main .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 120px;
  height: 640px;
}

@media (max-width: 1250px) {
  #page main .hero-section {
    height: 720px;
  }
}

@media (max-width: 812px) {
  #page main .hero-section {
    margin: 0 50px;
  }
}

@media (max-width: 561px) {
  #page main .hero-section {
    height: 820px;
  }
}

@media (max-width: 448px) {
  #page main .hero-section {
    height: 900px;
  }
}

@media (max-width: 375px) {
  #page main .hero-section {
    margin: 0 20px;
  }
}

#page main .hero-section .left-content {
  width: 40%;
}

@media (max-width: 1340px) {
  #page main .hero-section .left-content {
    width: 35%;
  }
}

@media (max-width: 1250px) {
  #page main .hero-section .left-content {
    width: 50%;
  }
}

@media (max-width: 1050px) {
  #page main .hero-section .left-content {
    width: 100%;
  }
}

#page main .hero-section .left-content h1 {
  width: 75%;
  margin-bottom: 24px;
  margin-top: 101px;
}

@media (max-width: 1340px) {
  #page main .hero-section .left-content h1 {
    width: 100%;
  }
}

#page main .hero-section .left-content h1 span {
  color: transparent;
  -webkit-text-stroke: 1px #1b1c57;
}

#page main .hero-section .left-content h3 {
  margin-bottom: 32px;
}

#page main .hero-section .left-content .search-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

#page main .hero-section .left-content .search-box .input-search {
  height: 57px;
  width: 430px;
  padding: 10px;
  outline: none;
  border-radius: 25px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #1b1c57;
  font: normal 400 14px/18px "Lexend", sans-serif;
  border: 1px solid #e0e3eb;
  border-radius: 32px;
  padding-left: 64px;
}

#page main .hero-section .left-content .search-box .input-search::-webkit-input-placeholder {
  font: normal 300 14px/22px "Lexend", sans-serif;
  color: #888b97;
}

#page main .hero-section .left-content .search-box .input-search:-ms-input-placeholder {
  font: normal 300 14px/22px "Lexend", sans-serif;
  color: #888b97;
}

#page main .hero-section .left-content .search-box .input-search::-ms-input-placeholder {
  font: normal 300 14px/22px "Lexend", sans-serif;
  color: #888b97;
}

#page main .hero-section .left-content .search-box .input-search::placeholder {
  font: normal 300 14px/22px "Lexend", sans-serif;
  color: #888b97;
}

@media (max-width: 1320px) {
  #page main .hero-section .left-content .search-box .input-search::-webkit-input-placeholder {
    opacity: 0;
  }
  #page main .hero-section .left-content .search-box .input-search:-ms-input-placeholder {
    opacity: 0;
  }
  #page main .hero-section .left-content .search-box .input-search::-ms-input-placeholder {
    opacity: 0;
  }
  #page main .hero-section .left-content .search-box .input-search::placeholder {
    opacity: 0;
  }
}

@media (max-width: 1250px) {
  #page main .hero-section .left-content .search-box .input-search::-webkit-input-placeholder {
    opacity: 1;
  }
  #page main .hero-section .left-content .search-box .input-search:-ms-input-placeholder {
    opacity: 1;
  }
  #page main .hero-section .left-content .search-box .input-search::-ms-input-placeholder {
    opacity: 1;
  }
  #page main .hero-section .left-content .search-box .input-search::placeholder {
    opacity: 1;
  }
}

@media (max-width: 623px) {
  #page main .hero-section .left-content .search-box .input-search::-webkit-input-placeholder {
    opacity: 0;
  }
  #page main .hero-section .left-content .search-box .input-search:-ms-input-placeholder {
    opacity: 0;
  }
  #page main .hero-section .left-content .search-box .input-search::-ms-input-placeholder {
    opacity: 0;
  }
  #page main .hero-section .left-content .search-box .input-search::placeholder {
    opacity: 0;
  }
}

@media (max-width: 1400px) {
  #page main .hero-section .left-content .search-box .input-search {
    width: 350px;
  }
}

@media (max-width: 1320px) {
  #page main .hero-section .left-content .search-box .input-search {
    width: 300px;
  }
}

@media (max-width: 1250px) {
  #page main .hero-section .left-content .search-box .input-search {
    width: 430px;
  }
}

@media (max-width: 623px) {
  #page main .hero-section .left-content .search-box .input-search {
    width: 350px;
  }
}

@media (max-width: 496px) {
  #page main .hero-section .left-content .search-box .input-search {
    width: 300px;
  }
}

@media (max-width: 420px) {
  #page main .hero-section .left-content .search-box .input-search {
    width: 250px;
  }
}

@media (max-width: 342px) {
  #page main .hero-section .left-content .search-box .input-search {
    width: 220px;
  }
}

#page main .hero-section .left-content .search-box .btn-location {
  position: absolute;
  background-color: transparent;
  border: none;
}

#page main .hero-section .left-content .search-box .btn-location:after {
  content: url("../svg/vector-map.svg");
  display: inline-block;
  position: absolute;
  left: 27px;
  top: 109%;
}

#page main .hero-section .left-content .search-box .btn-search {
  width: auto;
  cursor: pointer;
  border-radius: 32px;
  position: absolute;
  top: 6.4%;
  right: 0.8%;
  color: #fff;
  background-color: #10b981;
  pointer-events: painted;
  padding: 13px 44px 13px 16px;
  font: normal 500 14px/22px "Lexend", sans-serif;
}

#page main .hero-section .left-content .search-box .btn-search:after {
  content: url("../svg/vector1.svg");
  display: inline-block;
  position: absolute;
  right: 17px;
  top: 30%;
}

#page main .hero-section .left-content .search-box .btn-search:focus ~ .input-search {
  width: 520px;
  border: 1px solid #e0e3eb;
  border-radius: 32px;
  background-color: transparent;
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

@media (max-width: 1400px) {
  #page main .hero-section .left-content .search-box .btn-search:focus ~ .input-search {
    width: 450px;
  }
}

@media (max-width: 1320px) {
  #page main .hero-section .left-content .search-box .btn-search:focus ~ .input-search {
    width: 350px;
  }
}

@media (max-width: 1250px) {
  #page main .hero-section .left-content .search-box .btn-search:focus ~ .input-search {
    width: 520px;
    background-color: #ffffffec;
  }
}

@media (max-width: 623px) {
  #page main .hero-section .left-content .search-box .btn-search:focus ~ .input-search {
    width: 400px;
  }
}

@media (max-width: 496px) {
  #page main .hero-section .left-content .search-box .btn-search:focus ~ .input-search {
    width: 350px;
  }
}

@media (max-width: 420px) {
  #page main .hero-section .left-content .search-box .btn-search:focus ~ .input-search {
    width: 300px;
  }
}

@media (max-width: 342px) {
  #page main .hero-section .left-content .search-box .btn-search:focus ~ .input-search {
    width: 280px;
  }
}

#page main .hero-section .left-content .search-box .input-search:focus {
  width: 520px;
  border: 1px solid #e0e3eb;
  border-radius: 32px;
  background-color: transparent;
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

@media (max-width: 1400px) {
  #page main .hero-section .left-content .search-box .input-search:focus {
    width: 450px;
  }
}

@media (max-width: 1320px) {
  #page main .hero-section .left-content .search-box .input-search:focus {
    width: 350px;
  }
}

@media (max-width: 1250px) {
  #page main .hero-section .left-content .search-box .input-search:focus {
    width: 520px;
    background-color: #ffffffec;
  }
}

@media (max-width: 623px) {
  #page main .hero-section .left-content .search-box .input-search:focus {
    width: 400px;
  }
}

@media (max-width: 496px) {
  #page main .hero-section .left-content .search-box .input-search:focus {
    width: 350px;
  }
}

@media (max-width: 420px) {
  #page main .hero-section .left-content .search-box .input-search:focus {
    width: 300px;
  }
}

@media (max-width: 342px) {
  #page main .hero-section .left-content .search-box .input-search:focus {
    width: 280px;
  }
}

#page main .hero-section .left-content .partnership {
  margin-top: 32px;
  margin-bottom: 0;
}

#page main .hero-section .left-content .partnership figure {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#page main .hero-section .left-content .partnership figure :nth-child(odd) {
  padding-right: 32px;
}

#page main .hero-section .right-content {
  width: 50%;
}

@media (max-width: 812px) {
  #page main .hero-section .right-content {
    width: 0%;
  }
}

#page main .hero-section .right-content .img-right-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  margin: 0;
}

@media (max-width: 1250px) {
  #page main .hero-section .right-content .img-right-content {
    z-index: -2;
    width: 100%;
    height: 800px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: blur(3px) brightness(0.9);
            filter: blur(3px) brightness(0.9);
  }
}

@media (max-width: 561px) {
  #page main .hero-section .right-content .img-right-content {
    height: 900px;
  }
}

@media (max-width: 448px) {
  #page main .hero-section .right-content .img-right-content {
    height: 970px;
  }
}

#page main .recommendation {
  margin: 120px 0 120px 160px;
  position: relative;
}

@media (max-width: 768px) {
  #page main .recommendation {
    margin: 120px 0 120px 100px;
  }
}

@media (max-width: 604px) {
  #page main .recommendation {
    margin: 100px 0 100px 50px;
  }
}

#page main .recommendation .tabs_recommendation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 3fr 0.5fr;
      grid-template-columns: 1.5fr 3fr 0.5fr;
  position: relative;
  margin-right: 120px;
  margin-bottom: 40px;
  gap: 50px;
}

@media (max-width: 1281px) {
  #page main .recommendation .tabs_recommendation {
    gap: 30px;
  }
}

@media (max-width: 1200px) {
  #page main .recommendation .tabs_recommendation {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  #page main .recommendation .tabs_recommendation {
    margin-right: 100px;
  }
}

@media (max-width: 654px) {
  #page main .recommendation .tabs_recommendation {
    margin-right: 50px;
  }
}

@media (max-width: 408px) {
  #page main .recommendation .tabs_recommendation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#page main .recommendation .tabs_recommendation .tabs ul {
  margin: 0;
}

@media (max-width: 408px) {
  #page main .recommendation .tabs_recommendation .tabs ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#page main .recommendation .tabs_recommendation .tabs .nav-tabs {
  border: none;
  gap: 32px;
}

@media (max-width: 778px) {
  #page main .recommendation .tabs_recommendation .tabs .nav-tabs {
    gap: 20px;
  }
}

@media (max-width: 700px) {
  #page main .recommendation .tabs_recommendation .tabs .nav-tabs {
    gap: 10px;
  }
}

@media (max-width: 437px) {
  #page main .recommendation .tabs_recommendation .tabs .nav-tabs {
    gap: 5px;
  }
}

@media (max-width: 408px) {
  #page main .recommendation .tabs_recommendation .tabs .nav-tabs {
    gap: 10px;
  }
}

#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-link {
  border-radius: 32px;
  border: 1px solid #e0e3eb;
}

#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-item button img {
  -webkit-filter: invert(58%) sepia(93%) saturate(45%) hue-rotate(191deg) brightness(80%) contrast(84%);
          filter: invert(58%) sepia(93%) saturate(45%) hue-rotate(191deg) brightness(80%) contrast(84%);
}

#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-item.show .nav-link,
#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-link.active {
  background: #d1fae5;
  border-radius: 32px;
  border-color: #d1fae5;
}

#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-item.show .nav-link img,
#page main .recommendation .tabs_recommendation .tabs .nav-tabs .nav-link.active img {
  -webkit-filter: invert(48%) sepia(54%) saturate(1936%) hue-rotate(126deg) brightness(99%) contrast(87%);
          filter: invert(48%) sepia(54%) saturate(1936%) hue-rotate(126deg) brightness(99%) contrast(87%);
}

#page main .recommendation .tabs_recommendation .tabs button#house-tab,
#page main .recommendation .tabs_recommendation .tabs #villa-tab,
#page main .recommendation .tabs_recommendation .tabs #apartment-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px 12px 27px;
}

@media (max-width: 554px) {
  #page main .recommendation .tabs_recommendation .tabs button#house-tab,
  #page main .recommendation .tabs_recommendation .tabs #villa-tab,
  #page main .recommendation .tabs_recommendation .tabs #apartment-tab {
    padding: 12px 12px 12px 14px;
  }
}

#page main .recommendation .tabs_recommendation .tabs button#house-tab p,
#page main .recommendation .tabs_recommendation .tabs #villa-tab p,
#page main .recommendation .tabs_recommendation .tabs #apartment-tab p {
  margin: 0;
  padding-left: 11px;
  font: normal 400 18px/28px "Lexend", sans-serif;
  color: #888b97;
}

@media (max-width: 479px) {
  #page main .recommendation .tabs_recommendation .tabs button#house-tab p,
  #page main .recommendation .tabs_recommendation .tabs #villa-tab p,
  #page main .recommendation .tabs_recommendation .tabs #apartment-tab p {
    font: normal 400 14px/28px "Lexend", sans-serif;
  }
}

@media (max-width: 408px) {
  #page main .recommendation .tabs_recommendation .tabs button#house-tab p,
  #page main .recommendation .tabs_recommendation .tabs #villa-tab p,
  #page main .recommendation .tabs_recommendation .tabs #apartment-tab p {
    font: normal 400 18px/28px "Lexend", sans-serif;
  }
}

#page main .recommendation .tabs_recommendation .tabs button#house-tab.active p,
#page main .recommendation .tabs_recommendation .tabs #villa-tab.active p,
#page main .recommendation .tabs_recommendation .tabs #apartment-tab.active p {
  color: #10b981;
}

@media (max-width: 479px) {
  #page main .recommendation .tabs_recommendation .tabs button#house-tab img,
  #page main .recommendation .tabs_recommendation .tabs #villa-tab img,
  #page main .recommendation .tabs_recommendation .tabs #apartment-tab img {
    width: 12px;
  }
}

@media (max-width: 408px) {
  #page main .recommendation .tabs_recommendation .tabs button#house-tab img,
  #page main .recommendation .tabs_recommendation .tabs #villa-tab img,
  #page main .recommendation .tabs_recommendation .tabs #apartment-tab img {
    width: auto;
  }
}

#page main .recommendation .tab-content {
  z-index: 1;
}

@media (max-width: 1281px) {
  #page main .recommendation .tab-content {
    margin-top: 80px;
  }
}

@media (max-width: 950px) {
  #page main .recommendation .tab-content {
    margin-top: 0;
  }
}

#page main .ready {
  margin: 0 120px 120px 160px;
  position: relative;
}

@media (max-width: 768px) {
  #page main .ready {
    margin: 120px 0 120px 100px;
  }
}

@media (max-width: 604px) {
  #page main .ready {
    margin: 100px 0 100px 50px;
  }
}

#page main .ready .body_ready_slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 1230px) {
  #page main .ready .body_ready_slider {
    -ms-grid-columns: 42% 40%;
        grid-template-columns: 42% 40%;
  }
}

@media (max-width: 1170px) {
  #page main .ready .body_ready_slider {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 10%;
  }
}

@media (max-width: 768px) {
  #page main .ready .body_ready_slider .right .text {
    margin-right: 100px;
  }
}

@media (max-width: 604px) {
  #page main .ready .body_ready_slider .right .text {
    margin-right: 50px;
  }
}

@media (max-width: 450px) {
  #page main .ready .body_ready_slider .right .text {
    margin-right: 20px;
  }
}

#page main .ready .body_ready_slider .right .text h2 {
  margin-bottom: 16px;
}

#page main .ready .body_ready_slider .right .text h3 {
  margin-bottom: 16px;
}

#page main .ready .body_ready_slider .right .text .detail p {
  color: #1b1c57;
  font: normal 500 18px/28px "Lexend", sans-serif;
}

#page main .ready .body_ready_slider .right .text .detail .house_detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-bottom: 38px;
  border-bottom: 1px solid #f0f3fd;
}

@media (max-width: 375px) {
  #page main .ready .body_ready_slider .right .text .detail .house_detail {
    gap: 20px;
    justify-items: center;
  }
}

#page main .ready .body_ready_slider .right .text .detail .house_detail p {
  margin-bottom: 16px;
}

#page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_1,
#page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_2,
#page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_3,
#page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

#page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_1 p,
#page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_2 p,
#page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_3 p,
#page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_4 p {
  font: normal 400 16px/20px "Lexend", sans-serif;
  color: #3c4563;
  margin: 0;
  padding-left: 20px;
}

@media (max-width: 390px) {
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_1 p,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_2 p,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_3 p,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_4 p {
    padding-left: 10px;
  }
}

@media (max-width: 373px) {
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_1 p,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_2 p,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_3 p,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_4 p {
    font: normal 400 14px/20px "Lexend", sans-serif;
  }
}

@media (max-width: 350px) {
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_1 img,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_2 img,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_3 img,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_4 img {
    width: 16%;
  }
}

@media (max-width: 375px) {
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_1,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_1,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_2,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_3,
  #page main .ready .body_ready_slider .right .text .detail .house_detail .icons_text_4 {
    padding-bottom: 0;
  }
}

#page main .ready .body_ready_slider .right .text .detail .contact {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#page main .ready .body_ready_slider .right .text .detail .contact .info_employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page main .ready .body_ready_slider .right .text .detail .contact .info_employee .name_position {
  padding-left: 24px;
}

#page main .ready .body_ready_slider .right .text .detail .contact .info_employee .name_position h6 {
  font: normal 400 18px/24px "Lexend", sans-serif;
  color: #0e1735;
  margin: 0;
  padding-bottom: 4px;
}

#page main .ready .body_ready_slider .right .text .detail .contact .info_employee .name_position p {
  font: normal 300 16px/24px "Lexend", sans-serif;
  color: #888b97;
  margin: 0;
}

#page main .ready .body_ready_slider .right .text .detail .contact button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #10b981;
  border-radius: 32px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
}

#page main .ready .body_ready_slider .right .text .detail .contact button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#page main .ready .body_ready_slider .right .text .detail .contact button img {
  padding-left: 16px;
}

#page main .ready .body_ready_slider .right .text .detail .contact button a {
  text-decoration: none;
  color: #ffffff;
  font: normal 600 14px/22px "Lexend", sans-serif;
  padding: 13px 16px;
}

#page main .ready .body_ready_slider .left {
  height: 440px;
}

@media (max-width: 1170px) {
  #page main .ready .body_ready_slider .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 650px;
  }
}

@media (max-width: 540px) {
  #page main .ready .body_ready_slider .left {
    height: 450px;
  }
}

@media (max-width: 500px) {
  #page main .ready .body_ready_slider .left {
    height: 450px;
  }
}

@media (max-width: 400px) {
  #page main .ready .body_ready_slider .left {
    height: 410px;
  }
}

@media (max-width: 360px) {
  #page main .ready .body_ready_slider .left {
    height: 380px;
  }
}

@media (max-width: 330px) {
  #page main .ready .body_ready_slider .left {
    height: 350px;
  }
}

#page main .ready .body_ready_slider .left .main_img_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

@media (max-width: 1440px) {
  #page main .ready .body_ready_slider .left .main_img_video {
    height: 100%;
  }
  #page main .ready .body_ready_slider .left .main_img_video .video {
    height: 100%;
  }
  #page main .ready .body_ready_slider .left .main_img_video .video img {
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1170px) {
  #page main .ready .body_ready_slider .left .main_img_video {
    height: 88%;
    width: 100%;
  }
  #page main .ready .body_ready_slider .left .main_img_video .img-modal {
    width: 100%;
  }
  #page main .ready .body_ready_slider .left .main_img_video .img-modal .video {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #page main .ready .body_ready_slider .left .main_img_video .img-modal .video img {
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1170px) and (max-width: 940px) {
  #page main .ready .body_ready_slider .left .main_img_video .img-modal .video img {
    width: 85%;
  }
}

@media (max-width: 1170px) and (max-width: 940px) {
  #page main .ready .body_ready_slider .left .main_img_video .img-modal .video img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 1170px) and (max-width: 720px) {
  #page main .ready .body_ready_slider .left .main_img_video .img-modal .video img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 85%;
  }
}

@media (max-width: 1170px) and (max-width: 650px) {
  #page main .ready .body_ready_slider .left .main_img_video .img-modal .video img {
    height: 80%;
  }
}

@media (max-width: 1170px) and (max-width: 500px) {
  #page main .ready .body_ready_slider .left .main_img_video .img-modal .video img {
    height: 85%;
  }
}

@media (max-width: 1170px) and (max-width: 441px) {
  #page main .ready .body_ready_slider .left .main_img_video .img-modal .video img {
    height: 80%;
  }
}

@media (max-width: 1170px) and (max-width: 400px) {
  #page main .ready .body_ready_slider .left .main_img_video .img-modal .video img {
    height: 70%;
  }
}

#page main .ready .body_ready_slider .left .main_img_video img {
  border-radius: 4px;
}

#page main .ready .body_ready_slider .left .main_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 20px;
  bottom: 0;
  gap: 10px;
  z-index: 1;
}

@media (max-width: 1350px) {
  #page main .ready .body_ready_slider .left .main_img {
    gap: 0;
    bottom: 5%;
  }
  #page main .ready .body_ready_slider .left .main_img .img-modal,
  #page main .ready .body_ready_slider .left .main_img .img-modal_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #page main .ready .body_ready_slider .left .main_img .img-modal .video_img,
  #page main .ready .body_ready_slider .left .main_img .img-modal .video_img_1,
  #page main .ready .body_ready_slider .left .main_img .img-modal_1 .video_img,
  #page main .ready .body_ready_slider .left .main_img .img-modal_1 .video_img_1 {
    width: 90%;
  }
}

@media (max-width: 1170px) {
  #page main .ready .body_ready_slider .left .main_img {
    gap: 10px;
    bottom: 0;
    left: 0;
  }
  #page main .ready .body_ready_slider .left .main_img .img-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 150px;
  }
  #page main .ready .body_ready_slider .left .main_img .img-modal .video_img {
    width: 100%;
  }
  #page main .ready .body_ready_slider .left .main_img .img-modal .video_img img {
    width: 100%;
  }
}

@media (max-width: 1170px) and (max-width: 650px) {
  #page main .ready .body_ready_slider .left .main_img .img-modal .video_img {
    width: 95%;
  }
}

@media (max-width: 1170px) {
  #page main .ready .body_ready_slider .left .main_img .img-modal_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 400px;
  }
  #page main .ready .body_ready_slider .left .main_img .img-modal_1 .video_img_1 {
    width: 100%;
  }
  #page main .ready .body_ready_slider .left .main_img .img-modal_1 .video_img_1 img {
    width: 100%;
  }
}

@media (max-width: 1170px) and (max-width: 650px) {
  #page main .ready .body_ready_slider .left .main_img .img-modal_1 .video_img_1 {
    width: 95%;
  }
}

@media (max-width: 900px) {
  #page main .ready .body_ready_slider .left .main_img {
    bottom: 1%;
  }
}

@media (max-width: 850px) {
  #page main .ready .body_ready_slider .left .main_img {
    bottom: 4%;
  }
}

@media (max-width: 810px) {
  #page main .ready .body_ready_slider .left .main_img {
    bottom: 7%;
  }
}

@media (max-width: 768px) {
  #page main .ready .body_ready_slider .left .main_img {
    bottom: 0;
  }
}

@media (max-width: 650px) {
  #page main .ready .body_ready_slider .left .main_img {
    bottom: 5%;
  }
}

@media (max-width: 540px) {
  #page main .ready .body_ready_slider .left .main_img {
    bottom: 3%;
  }
}

@media (max-width: 500px) {
  #page main .ready .body_ready_slider .left .main_img {
    bottom: 0;
  }
}

@media (max-width: 441px) {
  #page main .ready .body_ready_slider .left .main_img {
    bottom: 1%;
  }
}

@media (max-width: 400px) {
  #page main .ready .body_ready_slider .left .main_img {
    bottom: 4%;
  }
}

@media (max-width: 330px) {
  #page main .ready .body_ready_slider .left .main_img {
    bottom: 3%;
  }
}

#page main .see_review .body_review_slider {
  position: relative;
  width: 100%;
}

@media (max-width: 1250px) {
  #page main .see_review .body_review_slider {
    width: auto;
  }
}

#page main .see_review .body_review_slider .content_slider_img img {
  opacity: 0.7;
  border-radius: 8px;
}

#page main .see_review .body_review_slider .content_slider {
  position: absolute;
  bottom: -105px;
  left: 64px;
  right: 64px;
  background: #ffffff;
  -webkit-box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
          box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 16px;
}

@media (max-width: 1250px) {
  #page main .see_review .body_review_slider .content_slider {
    left: 30px;
    right: 30px;
    top: 230px;
    height: 90%;
  }
}

@media (max-width: 1235px) {
  #page main .see_review .body_review_slider .content_slider {
    height: 95%;
  }
}

@media (max-width: 1200px) {
  #page main .see_review .body_review_slider .content_slider {
    height: 100%;
  }
}

@media (max-width: 1150px) {
  #page main .see_review .body_review_slider .content_slider {
    top: 180px;
  }
}

@media (max-width: 1079px) {
  #page main .see_review .body_review_slider .content_slider {
    height: 105%;
  }
}

@media (max-width: 1050px) {
  #page main .see_review .body_review_slider .content_slider {
    left: 10px;
    right: 10px;
    height: 110%;
  }
}

@media (max-width: 1000px) {
  #page main .see_review .body_review_slider .content_slider {
    left: 30px;
    right: 30px;
    top: 230px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media (max-width: 900px) {
  #page main .see_review .body_review_slider .content_slider {
    top: 180px;
  }
}

@media (max-width: 700px) {
  #page main .see_review .body_review_slider .content_slider {
    top: 170px;
  }
}

@media (max-width: 500px) {
  #page main .see_review .body_review_slider .content_slider {
    top: 150px;
  }
}

@media (max-width: 425px) {
  #page main .see_review .body_review_slider .content_slider {
    left: 15px;
    right: 15px;
  }
}

@media (max-width: 375px) {
  #page main .see_review .body_review_slider .content_slider {
    top: 120px;
  }
}

@media (max-width: 330px) {
  #page main .see_review .body_review_slider .content_slider {
    top: 100px;
  }
}

#page main .see_review .body_review_slider .content_slider .text {
  padding: 32px;
  text-align: left;
}

@media (max-width: 1150px) {
  #page main .see_review .body_review_slider .content_slider .text {
    padding: 20px;
  }
}

#page main .see_review .body_review_slider .content_slider .text h4 {
  color: #1b1c57;
  font: normal 500 20px/25px "Lexend", sans-serif;
  padding-bottom: 16px;
}

@media (max-width: 425px) {
  #page main .see_review .body_review_slider .content_slider .text h4 {
    font: normal 500 18px/25px "Lexend", sans-serif;
  }
}

#page main .see_review .body_review_slider .content_slider .text p {
  font: normal 200 14px/24px "Lexend", sans-serif;
  color: #626687;
  padding: 0;
  margin: 0;
}

@media (max-width: 425px) {
  #page main .see_review .body_review_slider .content_slider .text p {
    font: normal 300 12px/24px "Lexend", sans-serif;
  }
}

#page main .see_review .body_review_slider .content_slider .text .employee {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#page main .see_review .body_review_slider .content_slider .text .employee .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page main .see_review .body_review_slider .content_slider .text .employee .info .name {
  padding-left: 24px;
}

#page main .see_review .body_review_slider .content_slider .text .employee .info .name h5 {
  font: normal 400 14px/22px "Lexend", sans-serif;
  color: #0e1735;
  padding-bottom: 4px;
}

#page main .see_review .body_review_slider .content_slider .text .employee .info .name h6 {
  font: normal 300 14px/22px "Lexend", sans-serif;
  color: #888b97;
}

#page main .see_review .body_review_slider .content_slider .text .employee .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page main .see_review .body_review_slider .content_slider .text .employee .star h3 {
  padding-left: 18px;
  font: normal 600 20px/28px "Lexend", sans-serif;
  color: #3c4563;
}

#page main .buying_home {
  margin: 148px 120px 120px;
  position: relative;
}

@media (max-width: 1300px) {
  #page main .buying_home {
    margin: 148px 50px 120px;
  }
}

@media (max-width: 768px) {
  #page main .buying_home {
    margin: 148px 100px;
  }
}

@media (max-width: 604px) {
  #page main .buying_home {
    margin: 128px 50px;
  }
}

@media (max-width: 500px) {
  #page main .buying_home {
    margin: 128px 20px;
  }
}

#page main .buying_home .small_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
  position: relative;
}

#page main .buying_home .small_title h2 {
  text-transform: capitalize;
}

@media (max-width: 1440px) {
  #page main .buying_home .small_title h2 {
    width: 37%;
  }
}

@media (max-width: 1383px) {
  #page main .buying_home .small_title h2 {
    width: 39%;
  }
}

@media (max-width: 1325px) {
  #page main .buying_home .small_title h2 {
    width: 41%;
  }
}

@media (max-width: 1300px) {
  #page main .buying_home .small_title h2 {
    width: 37%;
  }
}

@media (max-width: 1271px) {
  #page main .buying_home .small_title h2 {
    width: 38%;
  }
}

@media (max-width: 1223px) {
  #page main .buying_home .small_title h2 {
    width: 40%;
  }
}

@media (max-width: 1180px) {
  #page main .buying_home .small_title h2 {
    width: 100%;
  }
}

#page main .buying_home .small_title button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #10b981;
  border-radius: 32px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin-top: 24px;
}

#page main .buying_home .small_title button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#page main .buying_home .small_title button a {
  text-decoration: none;
  color: #ffffff;
  font: normal 500 14px/22px "Lexend", sans-serif;
  padding: 12px 16px;
}

#page main .buying_home .post-all {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px 68px;
  position: relative;
}

@media (max-width: 800px) {
  #page main .buying_home .post-all {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    gap: 60px;
  }
}

#page main .buying_home .post-all .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  gap: 32px;
}

#page main .buying_home .post-all .post .post-img img {
  border-radius: 32px;
}

@media (max-width: 1000px) {
  #page main .buying_home .post-all .post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  #page main .buying_home .post-all .post {
    width: 100%;
  }
  #page main .buying_home .post-all .post .post-img {
    height: 450px;
    width: 100%;
  }
  #page main .buying_home .post-all .post .post-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#page main .buying_home .post-all .post .post-img img {
  border-radius: 32px;
}

@media (max-width: 650px) {
  #page main .buying_home .post-all .post .post-img {
    height: 400px;
  }
}

@media (max-width: 450px) {
  #page main .buying_home .post-all .post .post-img {
    height: 350px;
  }
}

@media (max-width: 380px) {
  #page main .buying_home .post-all .post .post-img {
    height: 300px;
  }
}

@media (max-width: 350px) {
  #page main .buying_home .post-all .post .post-img {
    height: 250px;
  }
}

#page main .buying_home .post-all .post:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
  gap: 29px;
}

#page main .buying_home .post-all .post:nth-child(2) .post-txt {
  width: 100%;
}

#page main .buying_home .post-all .post:nth-child(2) .post-img {
  width: 100%;
  border-radius: 16px;
}

@media (max-width: 1000px) {
  #page main .buying_home .post-all .post:nth-child(2) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 2;
  }
}

@media (max-width: 800px) {
  #page main .buying_home .post-all .post:nth-child(2) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  #page main .buying_home .post-all .post:nth-child(2) .post-img {
    height: 450px;
  }
}

@media (max-width: 800px) and (max-width: 450px) {
  #page main .buying_home .post-all .post:nth-child(2) .post-img {
    height: 350px;
  }
}

@media (max-width: 800px) and (max-width: 380px) {
  #page main .buying_home .post-all .post:nth-child(2) .post-img {
    height: 300px;
  }
}

@media (max-width: 800px) and (max-width: 350px) {
  #page main .buying_home .post-all .post:nth-child(2) .post-img {
    height: 250px;
  }
}

@media (max-width: 800px) {
  #page main .buying_home .post-all .post:nth-child(2) .post-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1000px) {
  #page main .buying_home .post-all .post:nth-child(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    gap: 29px;
  }
  #page main .buying_home .post-all .post:nth-child(4) .post-txt {
    width: 100%;
  }
  #page main .buying_home .post-all .post:nth-child(4) .post-img {
    width: 100%;
  }
  #page main .buying_home .post-all .post:nth-child(4) .post-img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 800px) {
  #page main .buying_home .post-all .post:nth-child(4) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

#page main .buying_home .post-all .post .post-txt {
  width: 60%;
}

@media (max-width: 1000px) {
  #page main .buying_home .post-all .post .post-txt {
    width: 100%;
  }
}

#page main .buying_home .post-all .post .post-txt h3 {
  color: #1b1c57;
  font: normal 400 18px/32px "Lexend", sans-serif;
  padding: 12px 0 16px 0;
  text-transform: capitalize;
}

#page main .buying_home .post-all .post .post-txt .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page main .buying_home .post-all .post .post-txt .author img {
  width: 32px;
}

#page main .buying_home .post-all .post .post-txt .author h4 {
  padding-left: 16px;
  color: #3c4563;
  font: normal 300 14px/22px "Lexend", sans-serif;
}

#page main .buying_home .post-all .post .post-txt .post-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page main .buying_home .post-all .post .post-txt .post-date p {
  font: normal 200 14px/24px "Lexend", sans-serif;
  color: #888b97;
  padding-left: 14px;
  margin: 0;
}

#page main .subscribe {
  margin: 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

@media (max-width: 1010px) {
  #page main .subscribe {
    margin: 0 50px;
  }
}

@media (max-width: 705px) {
  #page main .subscribe {
    margin: 0;
    border-radius: 0;
  }
}

#page main .subscribe .subscribe-icons-left {
  position: absolute;
  left: 0;
  width: 25%;
}

#page main .subscribe .subscribe-icons-left .icons-1 {
  position: absolute;
  top: 38px;
  left: 44px;
}

#page main .subscribe .subscribe-icons-left .icons-1 img {
  width: 81px;
}

@media (max-width: 775px) {
  #page main .subscribe .subscribe-icons-left .icons-1 img {
    width: 60px;
  }
}

@media (max-width: 565px) {
  #page main .subscribe .subscribe-icons-left .icons-1 img {
    width: 50px;
  }
}

@media (max-width: 390px) {
  #page main .subscribe .subscribe-icons-left .icons-1 img {
    width: 40px;
  }
}

@media (max-width: 870px) {
  #page main .subscribe .subscribe-icons-left .icons-1 {
    left: 20px;
  }
}

@media (max-width: 565px) {
  #page main .subscribe .subscribe-icons-left .icons-1 {
    top: 0;
  }
}

#page main .subscribe .subscribe-icons-left .icons-2 {
  position: absolute;
  top: 60px;
  left: 170px;
}

@media (max-width: 1250px) {
  #page main .subscribe .subscribe-icons-left .icons-2 {
    left: 130px;
    width: 100px;
  }
  #page main .subscribe .subscribe-icons-left .icons-2 img {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  #page main .subscribe .subscribe-icons-left .icons-2 {
    top: 0;
  }
}

@media (max-width: 1020px) {
  #page main .subscribe .subscribe-icons-left .icons-2 {
    top: -20px;
  }
}

@media (max-width: 605px) {
  #page main .subscribe .subscribe-icons-left .icons-2 {
    left: 70px;
    top: 120px;
  }
}

@media (max-width: 517px) {
  #page main .subscribe .subscribe-icons-left .icons-2 {
    display: none;
  }
}

#page main .subscribe .subscribe-icons-left .icons-3 {
  position: absolute;
  top: 143px;
  left: 30px;
}

@media (max-width: 870px) {
  #page main .subscribe .subscribe-icons-left .icons-3 {
    left: 0;
  }
}

@media (max-width: 775px) {
  #page main .subscribe .subscribe-icons-left .icons-3 {
    top: 100px;
    left: 40px;
  }
}

@media (max-width: 730px) {
  #page main .subscribe .subscribe-icons-left .icons-3 {
    left: -30px;
  }
}

@media (max-width: 390px) {
  #page main .subscribe .subscribe-icons-left .icons-3 {
    top: 130px;
    left: 30px;
  }
}

@media (max-width: 377px) {
  #page main .subscribe .subscribe-icons-left .icons-3 {
    left: 0;
  }
}

#page main .subscribe .subscribe-icons-left .icons-4 {
  position: absolute;
  top: 178px;
  left: 195px;
}

@media (max-width: 1350px) {
  #page main .subscribe .subscribe-icons-left .icons-4 {
    top: 210px;
    left: 155px;
  }
}

@media (max-width: 870px) {
  #page main .subscribe .subscribe-icons-left .icons-4 {
    top: 200px;
    left: 100px;
  }
}

@media (max-width: 820px) {
  #page main .subscribe .subscribe-icons-left .icons-4 {
    top: 210px;
  }
}

@media (max-width: 775px) {
  #page main .subscribe .subscribe-icons-left .icons-4 {
    left: 40px;
  }
}

@media (max-width: 605px) {
  #page main .subscribe .subscribe-icons-left .icons-4 {
    left: 10px;
    top: 260px;
  }
  #page main .subscribe .subscribe-icons-left .icons-4 img {
    width: 80%;
  }
}

@media (max-width: 517px) {
  #page main .subscribe .subscribe-icons-left .icons-4 {
    top: 215px;
  }
}

@media (max-width: 441px) {
  #page main .subscribe .subscribe-icons-left .icons-4 {
    top: 250px;
    right: 50px;
  }
}

@media (max-width: 390px) {
  #page main .subscribe .subscribe-icons-left .icons-4 {
    top: 260px;
  }
}

@media (max-width: 323px) {
  #page main .subscribe .subscribe-icons-left .icons-4 {
    top: 310px;
  }
  #page main .subscribe .subscribe-icons-left .icons-4 img {
    width: 100%;
  }
}

#page main .subscribe .subscribe-icons-right {
  position: absolute;
  right: 0;
  width: 25%;
}

#page main .subscribe .subscribe-icons-right .icons-5 {
  position: absolute;
  top: 44px;
  right: 200px;
}

@media (max-width: 1250px) {
  #page main .subscribe .subscribe-icons-right .icons-5 {
    width: 70px;
    top: 20px;
    right: 140px;
  }
  #page main .subscribe .subscribe-icons-right .icons-5 img {
    width: 100%;
  }
}

@media (max-width: 1250px) and (max-width: 565px) {
  #page main .subscribe .subscribe-icons-right .icons-5 img {
    width: 50px;
  }
}

@media (max-width: 1100px) {
  #page main .subscribe .subscribe-icons-right .icons-5 {
    right: 80px;
    top: 10px;
  }
}

@media (max-width: 870px) {
  #page main .subscribe .subscribe-icons-right .icons-5 {
    right: 10px;
  }
}

@media (max-width: 517px) {
  #page main .subscribe .subscribe-icons-right .icons-5 {
    display: none;
  }
}

#page main .subscribe .subscribe-icons-right .icons-6 {
  position: absolute;
  top: 85px;
  right: 55px;
}

@media (max-width: 1100px) {
  #page main .subscribe .subscribe-icons-right .icons-6 {
    right: 0;
  }
}

@media (max-width: 513px) {
  #page main .subscribe .subscribe-icons-right .icons-6 {
    top: -10px;
  }
}

#page main .subscribe .subscribe-icons-right .icons-7 {
  position: absolute;
  top: 120px;
  left: 30px;
}

@media (max-width: 1250px) {
  #page main .subscribe .subscribe-icons-right .icons-7 {
    width: 100px;
    left: 0px;
  }
  #page main .subscribe .subscribe-icons-right .icons-7 img {
    width: 100%;
  }
}

@media (max-width: 820px) {
  #page main .subscribe .subscribe-icons-right .icons-7 {
    top: 80px;
  }
}

@media (max-width: 760px) {
  #page main .subscribe .subscribe-icons-right .icons-7 {
    top: -35px;
    left: -30px;
  }
}

@media (max-width: 517px) {
  #page main .subscribe .subscribe-icons-right .icons-7 {
    left: -130px;
  }
}

#page main .subscribe .subscribe-icons-right .icons-8 {
  position: absolute;
  top: 197px;
  right: 73px;
}

@media (max-width: 820px) {
  #page main .subscribe .subscribe-icons-right .icons-8 {
    right: 40px;
  }
}

@media (max-width: 605px) {
  #page main .subscribe .subscribe-icons-right .icons-8 {
    top: 260px;
    right: 40px;
  }
  #page main .subscribe .subscribe-icons-right .icons-8 img {
    width: 80%;
  }
}

@media (max-width: 517px) {
  #page main .subscribe .subscribe-icons-right .icons-8 {
    top: 220px;
    right: 0;
  }
}

@media (max-width: 441px) {
  #page main .subscribe .subscribe-icons-right .icons-8 {
    top: 140px;
    right: 50px;
  }
}

@media (max-width: 377px) {
  #page main .subscribe .subscribe-icons-right .icons-8 {
    top: 260px;
    right: 10px;
  }
}

@media (max-width: 323px) {
  #page main .subscribe .subscribe-icons-right .icons-8 {
    top: 290px;
  }
}

#page main .subscribe .subscribe_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 65px 0;
}

#page main .subscribe .subscribe_info h2 {
  color: #1b1c57;
  font: normal 600 32px/40px "Lexend", sans-serif;
  width: 55%;
  text-transform: capitalize;
  padding-bottom: 32px;
}

@media (max-width: 870px) {
  #page main .subscribe .subscribe_info h2 {
    width: 70%;
  }
}

@media (max-width: 517px) {
  #page main .subscribe .subscribe_info h2 {
    width: 90%;
  }
}

@media (max-width: 500px) {
  #page main .subscribe .subscribe_info h2 {
    padding-bottom: 28px;
    font: normal 600 30px/40px "Lexend", sans-serif;
  }
}

#page main .subscribe .subscribe_info .mail {
  position: relative;
}

#page main .subscribe .subscribe_info .mail form p {
  margin: 0;
}

#page main .subscribe .subscribe_info .mail form p label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

#page main .subscribe .subscribe_info .mail form p label .icon {
  background: url("../svg/mail.svg") no-repeat;
  padding: 16px;
  font: normal 300 14px/22px "Lexend", sans-serif;
  position: absolute;
  z-index: 1;
  top: 21px;
  left: 26px;
}

#page main .subscribe .subscribe_info .mail form .submit-subscribe {
  position: absolute;
  top: 3px;
  right: 3px;
}

#page main .subscribe .subscribe_info .mail form .submit-subscribe p {
  padding: 0;
  margin: 0;
}

#page main .subscribe .subscribe_info .mail form .submit-subscribe p input {
  background-color: #10b981;
  border: none;
  font: normal 400 14px/22px "Lexend", sans-serif;
  color: #fff;
  padding: 14px 16px;
  border-radius: 32px;
}

#page main .subscribe .subscribe_info .mail form .submit-subscribe p .wpcf7-spinner {
  display: none;
}

#page main .subscribe .subscribe_info .mail .wpcf7 form.invalid .wpcf7-response-output,
#page main .subscribe .subscribe_info .mail .wpcf7 form.unaccepted .wpcf7-response-output,
#page main .subscribe .subscribe_info .mail .wpcf7 form.payment-required .wpcf7-response-output {
  display: none;
}

#page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"],
#page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"],
#page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"] {
  width: 496px;
  padding: 16px 16px 16px 64px;
  background: #ffffff;
  -webkit-box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
          box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 32px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  outline: none;
  color: #1b1c57;
  font: normal 400 16px/22px "Lexend", sans-serif;
}

#page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"]::-webkit-input-placeholder,
#page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]::-webkit-input-placeholder,
#page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"]::-webkit-input-placeholder {
  color: #888b97;
  font: normal 400 14px/22px "Lexend", sans-serif;
}

#page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"]:-ms-input-placeholder,
#page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]:-ms-input-placeholder,
#page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"]:-ms-input-placeholder {
  color: #888b97;
  font: normal 400 14px/22px "Lexend", sans-serif;
}

#page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"]::-ms-input-placeholder,
#page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]::-ms-input-placeholder,
#page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"]::-ms-input-placeholder {
  color: #888b97;
  font: normal 400 14px/22px "Lexend", sans-serif;
}

#page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"]::placeholder,
#page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]::placeholder,
#page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"]::placeholder {
  color: #888b97;
  font: normal 400 14px/22px "Lexend", sans-serif;
}

@media (max-width: 370px) {
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"]::-webkit-input-placeholder,
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]::-webkit-input-placeholder,
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"]::-webkit-input-placeholder {
    opacity: 0;
  }
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"]:-ms-input-placeholder,
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]:-ms-input-placeholder,
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"]:-ms-input-placeholder {
    opacity: 0;
  }
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"]::-ms-input-placeholder,
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]::-ms-input-placeholder,
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"]::-ms-input-placeholder {
    opacity: 0;
  }
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"]::placeholder,
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]::placeholder,
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"]::placeholder {
    opacity: 0;
  }
}

@media (max-width: 1150px) {
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"],
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"],
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"] {
    width: 400px;
  }
}

@media (max-width: 500px) {
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"],
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"],
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"] {
    width: 300px;
    padding: 16px 16px 16px 55px;
  }
}

@media (max-width: 370px) {
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="url"],
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"],
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="tel"] {
    width: 250px;
  }
}

#page main .subscribe .subscribe_info .mail .submit-subscribe:focus ~ .wpcf7 input[type="email"] {
  width: 600px;
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

@media (max-width: 1150px) {
  #page main .subscribe .subscribe_info .mail .submit-subscribe:focus ~ .wpcf7 input[type="email"] {
    width: 450px;
  }
}

@media (max-width: 500px) {
  #page main .subscribe .subscribe_info .mail .submit-subscribe:focus ~ .wpcf7 input[type="email"] {
    width: 350px;
  }
}

@media (max-width: 370px) {
  #page main .subscribe .subscribe_info .mail .submit-subscribe:focus ~ .wpcf7 input[type="email"] {
    width: 300px;
  }
}

#page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]:focus {
  width: 600px;
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

@media (max-width: 1150px) {
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]:focus {
    width: 450px;
  }
}

@media (max-width: 500px) {
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]:focus {
    width: 350px;
  }
}

@media (max-width: 370px) {
  #page main .subscribe .subscribe_info .mail .wpcf7 input[type="email"]:focus {
    width: 300px;
  }
}

#page main .subscribe .subscribe_info .mail span.wpcf7-not-valid-tip {
  padding-top: 15px;
  padding-left: 20px;
  text-align: left;
  font: normal 400 14px/22px "Lexend", sans-serif;
}

#page main .subscribe .subscribe_info .mail .wpcf7 form.sent .wpcf7-response-output {
  border: none;
  padding-top: 15px;
  padding-left: 20px;
  text-align: left;
  font: normal 400 14px/22px "Lexend", sans-serif;
  color: #10b981;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */