.header-blur {
    width: 741px;
    height: 523px;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to right top, #c0fae8, #c8fdf6);
    // background: linear-gradient(to right top, #a6ffe3, #c3fff7);
    -webkit-filter: blur(60px);
    filter: blur(60px);
    transform: rotate(164deg);
    top: -252px;
    left: -160px;
    border-radius: 100%;
    @media (max-width: 1250px) {
        display: none;
    }
}
.left-content {
    position: relative;
    .blur {
        display: none;
        @media (max-width: 1250px) {
            display: block;
            width: 640px;
            height: 300px;
            position: absolute;
            z-index: -1;
            background: -webkit-gradient(linear, left bottom, right top, from(#f4fffc), to(#dbffed9e));
            background: linear-gradient(to right top, #f4fffc, #dbffed9e);
            -webkit-filter: blur(60px);
            filter: blur(60px);
            -webkit-transform: rotate(164deg);
            transform: rotate(7deg);
            top: 12%;
            left: -3%;
            border-radius: 40% 30%;
        }
        @media (max-width: 1050px) {
    transform: rotate(358deg);
        }
    }
    .blur1 {
        display: none;
        @media (max-width: 1250px) {
            display: block;
            position: absolute;
            width: 438px;
            height: 494px;
            left: -20%;
            top: 30%;
            z-index: -1;
            background: #f9ff82fa;
            opacity: 0.4;
            -webkit-filter: blur(60px);
            filter: blur(50px);
            -webkit-transform: rotate(90deg);
            transform: rotate(106deg);
            border-radius: 20% 50%;
        }
        @media (max-width: 1050px) {
            left: 0;
            border-radius: 10% 70%;
        }
    }
}
.ready {
    .blur-right-top {
        position: absolute;
        width: 438px;
        height: 494px;
        right: -20%;
        top: -30%;

        background: #ff9882;
        opacity: 0.3;
        filter: blur(60px);
        transform: rotate(90deg);
    }
    .blur-right-bottom {
        position: absolute;
        width: 438px;
        height: 494px;
        right: -20%;
        top: -10%;

        background: #fffa82;
        opacity: 0.3;
        filter: blur(60px);
        transform: rotate(90deg);
    }
}

.buying_home {
    .blur-left-top {
        position: absolute;
        width: 438px;
        height: 494px;
        left: -25%;
        top: -5%;

        background: #82ffe8;
        opacity: 0.3;
        filter: blur(60px);
        transform: rotate(249deg);
    }
    .blur-left-bottom {
        position: absolute;
        width: 438px;
        height: 494px;
        left: -25%;
        top: 15%;

        background: #c8ff82;
        opacity: 0.3;
        filter: blur(60px);
        transform: rotate(265deg);
        border-radius: 100%;
    }
}

.subscribe {
    overflow: hidden;
    border-radius: 32px;
    .background-left {
        position: absolute;
        top: 0px;
        left: -5%;
        height: 500px;
        width: 60%;
        z-index: -1;
        -webkit-filter: blur(60px);
        filter: blur(60px);
        background: #7895f6;
        background: linear-gradient(138deg, #7895f6 0%, #e5eaf5 41%, #a9fff39e 100%);
    }
    .background-right {
        position: absolute;
        top: -20%;
        height: 300px;
        right: -25%;
        width: 70%;
        z-index: -1;
        -webkit-filter: blur(60px);
        filter: blur(60px);
        background: #a9fff39e;
        background: linear-gradient(33deg, #a9fff39e 0%, #e5eaf5 41%, #7895f6 100%);
    }
}

footer {
    overflow: hidden;
    .site-info {
        position: relative;
        .blur-right-bottom {
            position: absolute;
            width: 438px;
            height: 494px;
            right: -20%;
            top: -5%;

            background: #82bbff;
            opacity: 0.3;
            filter: blur(60px);
            transform: rotate(202deg);
            border-radius: 60% 80%;
        }
        .blur-center-bottom {
            position: absolute;
            width: 438px;
            height: 494px;
            right: 0;
            top: 0;

            background: #b9ff82;
            opacity: 0.3;
            filter: blur(60px);
            transform: rotate(99deg);
            border-radius: 40% 70%;
        }
    }
}
