@import "variables";

footer {
    position: absolute;
    width: 100%;
    .site-info {
        margin: 120px;
        @media (max-width: 850px) {
            margin: 120px 50px;
        }
        @media (max-width: 604px) {
            margin: 100px 50px;
        }
        @media (max-width: 372px) {
            margin: 100px 20px;
        }
        .footer {
            display: grid;
            grid-template-columns: 2fr 0.7fr 0.7fr 1fr;
            gap: 50px;
            position: relative;
            .site-branding {
                .logo_title {
                    display: flex;
                    align-items: center;
                    p {
                        font: normal 700 16px/20px "Lexend", sans-serif;
                        padding: 0 0 0 12px;
                        margin: 0;
                        text-transform: capitalize;
                        color: $main-color;
                    }
                }
                .description {
                    width: 65%;
                    @media (max-width: 1000px) {
                        width: 100%;
                    }
                    p {
                        font: normal 200 14px/24px "Lexend", sans-serif;
                        color: $subtitle-color;
                        margin: 0;
                        padding-bottom: 30px;
                        padding-top: 16px;
                    }
                    .social-icons {
                        a {
                            &:nth-child(2n) {
                                padding: 14px;
                            }
                        }
                    }
                }
            }
            .property,
            .article,
            .contact {
                position: relative;
                h6 {
                    font: normal 600 18px/22.5px "Lexend", sans-serif;
                    padding-bottom: 28px;
                    color: $main-color;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        list-style-type: none;
                        padding-bottom: 18px;
                        a {
                            font: normal 200 14px/17.5px "Lexend", sans-serif;
                            color: #888b97;
                            text-decoration: none;
                        }
                    }
                }
            }
            @media (max-width: 1000px) {
                grid-template-columns: 2fr 2fr;
                gap: 80px;
                .contact{
                    grid-column-start: 2;
                    grid-row-start: 1;
                }
            }
            @media (max-width: 500px) {
                gap: 50px;
                .site-branding{
                    grid-column-start: 1;
                    grid-column-end: 4;
                    grid-row-start: 1;
                }
                .contact{
                    grid-column-start: 1;
                    grid-column-end: 4;
                    grid-row-start: 2;
                }
            }
            @media (max-width: 386px) {
                grid-template-columns: 2fr 3fr;
            }
        }
    }
}
