@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

$body-color: rgba(255, 255, 255, 1);
$button-background: #10b981;
$main-color: #1b1c57;
$subtitle-color: #626687;
$yellow: #f59e0b;

//for search
$background-color: #2a2e37;
$search-bg-color: #242628;
$icon-color: #00fede;
$transition: all 0.5s ease;

// $hero-title-font: normal 600 40px/50px 'Lexend', sans-serif;
// $title-font: normal 600 32px/40px 'Lexend', sans-serif;
$menu: normal 400 14px/18px "Lexend", sans-serif;
$small-font: normal 500 14px/18px "Lexend", sans-serif;

h1 {
  font: normal 600 40px/50px "Lexend", sans-serif;
  color: $main-color;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
h2 {
  color: $main-color;
  font: normal 600 32px/40px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}
h3 {
  font: normal 400 16px/28px "Lexend", sans-serif;
  color: $subtitle-color;
  padding: 0;
  margin: 0;
}
h4 {
  color: #888b97;
  font: normal 400 16px/32px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}
h5 {
  color: $main-color;
  font: normal 600 16px/24px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}
h6 {
  color: #68799f;
  font: normal 400 12px/20px "Lexend", sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background-color: $body-color;
  a {
    cursor: pointer;
  }
}
.recommendation,
.ready {
  .small_title {
    font: $small-font;
    color: $yellow;
    p {
      position: relative;
      margin-bottom: 12px;
      &::after {
        content: "";
        display: block;
        width: 32px;
        height: 1px;
        border-bottom: 1px solid;
        top: 8px;
        position: absolute;
        margin-left: -40px;
      }
    }
  }
}
.see_review,
.buying_home {
  .small_title {
    text-align: center;
    font: $small-font;
    color: $yellow;
    p {
      position: relative;
      margin-bottom: 12px;
      &::before {
        content: "";
        display: block;
        width: 32px;
        height: 1px;
        border-top: 1px solid;
        left: 49%;
        top: -8px;
        position: absolute;
        margin: 0;
      }
    }
  }
}
